<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131535253776-i0l9rni4nd5dvsrklm0u5q4eajgqihvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131535253776-i0l9rni4nd5dvsrklm0u5q4eajgqihvu</string>
	<key>API_KEY</key>
	<string>AIzaSyDnze-2i4VMXZ4Hiqxlhaa1wTH-vOnABOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>131535253776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmiCal</string>
	<key>PROJECT_ID</key>
	<string>new-curd-62c6e</string>
	<key>STORAGE_BUCKET</key>
	<string>new-curd-62c6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131535253776:ios:d0fc889fd3ebb0b1eb7595</string>
</dict>
</plist>